@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --white-default: #F9F9F9;
    --green-default: #1C6758;
    --green-brighter: #008B6A;
    --grey-default: #EAEAEA;
    --brown-default: #7A6448;
}

h1 {
    font-size: 20px;
    font-weight: 700;
}


.input__default {
    width: 400px;
    border: 1px solid var(--brown-default);
    color: var(--brown-default);
    border-radius: 10px;
    padding: 10px;
}

.btn__default {

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    gap: 10px;
    padding: 10px;

    border: 1px solid var(--brown-default);
    border-radius: 5px;
    background: transparent;
}

.btn__default:hover {
    background: var(--brown-default);
    color: var(--white-default);
}

.icon__default {
    width: 30px;
    height: 30px;
    color: var(--brown-default);
}