/* RESPONSIVE AND MEDIA QUERIES */

@media screen and (max-width: 932px) {

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 20px;
    }

    .input__default {
        width: 300px;
    }
 
}